<section class="">

    <h4><b>Pipe-demo Starts Here</b></h4>
    <h4><b>Pure Pipe</b></h4>

    <ul>
        <li>{{Today_data }}</li>
    </ul>
    <div class='row'>
        <div class='col-md-3'>
            <ul>
                <p><b>Date</b></p>
                <li>{{Today_data }}</li>
                <li>{{Today_data | date}}</li>
                <li>{{Today_data | date:'dd-MM-yyyy'}}</li>
                <li>{{Today_data | date:'dd/MM/yyyy'}}</li>
                <li>{{Today_data | date:'dd-MMM-yyyy'}}</li>

            </ul>
        </div>
        <div class='col-md-3'>
            <ul>
                <p><b>Number</b></p>
                <li>{{num}}</li>
                <li>{{num | number}}</li>
                <li>{{num | number:'5.1-3'}}</li>
                <li>{{num | number:'5.3-4'}}</li>

            </ul>
        </div>
        <div class='col-md-3'>

            <ul>
                <p><b>Percentage</b></p>
                <li>{{ToPercentage}}</li>
                <li>{{ToPercentage | percent:'2.1'}}</li>
                <li>{{ToPercentage | percent:'2.1-3'}}</li>
                <li>{{ToPercentage | percent:'3.1-3'}}</li>
            </ul>
        </div>
        <div class='col-md-3'>

            <ul>
                <p><b>Currency</b></p>
                <li>{{Currency}}</li>
                <li>{{Currency | currency}}</li>
                <li>{{Currency | currency:'INR'}}</li>
                <li>{{Currency | currency:'EUR'}}</li>
                <li>{{Currency | currency:'INR':'code'}}</li>
                <li>{{Currency | currency:'INR':'code':'10.7'}}</li>


            </ul>
        </div>


    </div>
    <div class="row">

        <div class='col-md-4'>
            <p><b>UpperCase</b></p>
            {{'hakkim Shaikdawood' | uppercase}}
        </div>
        <div class='col-md-4'>
            <p><b>LowerCase</b></p>
            {{'hakkim Shaikdawood' | lowercase}}
        </div>
        <div class='col-md-4'>
            <p><b>TitleCase</b></p>
            {{'hakkim Shaikdawood' | titlecase}}
        </div>
    </div>

    <div>
        <p><b>JSON</b></p>

        {{obj | json}} {{arr}}
        <p><b>Slice</b></p>

        {{arr | slice:2}}
        <br />
        {{arr | slice:2:5}}
        <br />
        {{arr | slice:-2}}

        <p><b>KeyValue</b></p>
        <!-- convert arr to obj -->
        {{arr | keyvalue | json}}
        <p><b>custom</b></p>
        <!-- Custom pipe -->
        {{'ro' | append : ' six'}}

    </div>

    <hr>

    <h4><b>Impure Pipe</b></h4>


    <input [(ngModel)]='name' #inputValue>
    <button (click)="addName(inputValue.value)">Add</button>

    <div *ngFor="let user of users |filterimpure :'gender':'m'">
        {{user.name}}

    </div>
    <hr>

    <h4><b>Async Pipe</b></h4>

    <div> Async pipe : {{ jsonData | async |json}}</div>

    <div> Async pipe,jsonDataPromise : {{ jsonDataPromise | async |json}}</div>
    <div> Async pipe,jsonDataobservable : {{ jsonDataobservable | async |json}}</div>



    <div> Data : {{data$ | async}} </div>

</section>