{{data | json}}

<table>

    <tbody>
        <tr *ngFor="let res of data">
            <td>{{res.id}}</td>
            <td>{{res.name}}</td>
            <td>{{res.username}}</td>
            <td>{{res.email}}</td>
            <td>{{res.address.street}}</td>
            <td>{{res.address.suite}}</td>
            <td>{{res.address.city}}</td>
            <td>{{res.address.zipcode}}</td>
            <td>{{res.address.geo.lat}}</td>
            <td>{{res.address.geo.lng}}</td>
        </tr>
    </tbody>

</table>